/* .Test{
    background-color: aquamarine;
} */
body{
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    /* background-color: #ff305b; */
}
.gear{
    padding: 5px;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 222222;
    font-size: 35px;
    color: whitesmoke;
    background-color: rgb(17, 17, 17);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.gear i{
    animation: spinner 4s infinite 0s;
}
@keyframes spinner {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform: rotate(180deg)

    }
    100%{
        transform: rotate(180deg)
    }
    
}
.navbar .nav-item .primDrop{
    /* color: aqua; */
    position: relative;
}
.navbar .nb:hover .ss{
    display: block;

}
.navbar .nb .ss{
    display: none;
    width: 30px;
    height: auto;
    background-color: black;
    position: absolute;
    transition: 2s display;
}
.navbar .nb .ss li a{
    color: aquamarine;
}
.navbar .nb .ss .seconderyDrop{
    color: aquamarine;
}
.navbar .nb .mm{
    position: absolute;
    top: 101%;
    left: 0;
    display: none;
    width: 30px;
    height: auto;
    background-color: black;
}
.navbar .nb .bs:hover .mm{
    display: block;
}

.navbar .nav-link.active{
    color: #e65f78;
}
.navbar a,li{
    color: black;
}
.navbar .navbar-brand{
    color: #ff305b;
    font-weight: bold;
    font-size: 25px;
}
.navbar li:hover a{ 
   color: #ff305b;

}
#home{
    height: 100vh;
    background-image: url(../Images/header-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#home .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
}
#home .overlay .homeContent{
  
    color: aliceblue;
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
}
#home .overlay .homeContent .btn{
    color: aliceblue;
    border-radius: 30px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#home .overlay .homeContent .btn:hover{
    color: black;
}
#home .overlay .homeContent .p::after{
    font-size: 50px;
    font-weight: bold;
    content:" |";
    animation: job 4s infinite 0s;
    -webkit-animation: job 4s infinite 0s;
}
@keyframes job {
    0%{
        content: "developer|";
    }
    5%{
        content: "develo|";
    }
    10%{
        content: "dev|";
    }
    15%{
        content: "d|";
    }
    20%{
        content: "des|";
    }
    25%{
        content: "desig|";
    }
    30%{
        content: "desiger|";
    }
    35%{
        content: "desig|";
    }
    40%{
        content: "des|";
    }
    45%{
        content: "d|";
    }
    50%{
        content: "developer|";
    }
    55%{
        content: "develo|";
    }
    60%{
        content: "dev|";
    }
    65%{
        content: "d";
    }
    70%{
        content: "des|";
    }
    75%{
        content: "desig|";
    }
    80%{
        content: "desiger|";
    }
    85%{
        content: "desig|";
    }
    90%{
        content: "des|";
    }
    100%{
        content: "d|";
    }

    
}
#home .overlay .homeContent .lead{
    font-size: 18px;
}
#home .overlay .click{
    font-size: 80px;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    margin: auto;
    animation: scroll 2s infinite 0s;
    -webkit-animation: scroll 2s infinite 0s;
}
#home .overlay .click a{
    color: aliceblue;
    text-decoration: none;
    transition: 1s color;
    -webkit-transition: 1s color;
    -moz-transition: 1s color;
    -ms-transition: 1s color;
    -o-transition: 1s color;
}
#home .overlay .click a:hover{
    color: aqua;
}
@keyframes scroll {
    0%{
       
       bottom: 0;
}
    50%{
        bottom: 50px;
        
}
100%{
    bottom: 0;



}
    
}


/* about */
#about{
    background-color: #eee;
}
#about .about-content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about .about-content .aboutHead{
    font-weight: bold;
}
#about .about-content .aboutTitle{
    color: #e65f78;
}
#about .about-content .lead{
   letter-spacing: 1px;
}

#about .about-content .icons i{
    padding: 5px;
    font-size: 25px;
    border:1px solid #ff305b ;
    border-radius: 50%;
    transition: 1s all;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -ms-transition: 1s all;
    -o-transition: 1s all;
}
#about .about-content .icons i:hover{
    border:1px solid #fff ;
    color: teal;
    transform:rotate(40deg);
    scale: 1.3;
    -webkit-transform:rotate(40deg);
    -moz-transform:rotate(40deg);
    -ms-transform:rotate(40deg);
    -o-transform:rotate(40deg);
}




/* our work */
#our-work .workHead .workTitle{
    font-weight: bold;
}
#our-work .workHead .nav .nav-item .nav-link.active{
    background-color: #e65f78;
    color: #fff;
    border-radius: 30px;


   
}
#our-work .workHead .nav .nav-item .nav-link{
    border: none;
    color: black;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
#our-work .workHead .nav .nav-item .nav-link:hover{
    background-color: #e65f78;
    color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#our-work .workHead .tab-content .tab-pane .item{
    border-radius: 10px;
    position: relative;
}
#our-work .workHead .tab-content .tab-pane .item img{
    border-radius: 10px;
}
#our-work .workHead .tab-content .tab-pane .item .overlay{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.3s opacity;
    -webkit-transition: 0.3s opacity;
    -moz-transition: 0.3s opacity;
    -ms-transition: 0.3s opacity;
    -o-transition: 0.3s opacity;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#our-work .workHead .tab-content .tab-pane .item .overlay .overContent{
    color: #fff;
    padding: 10px;
    font-family:"Montserrat", sans-seriff;
    position: absolute;
    width: fit-content;
    left: 30%;
    top: 101%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s top;
    -webkit-transition: 0.5s top;
    -moz-transition: 0.5s top;
    -ms-transition: 0.5s top;
    -o-transition: 0.5s top;
}
#our-work .workHead .tab-content .tab-pane .item:hover .overlay{

opacity: 1;
}
#our-work .workHead .tab-content .tab-pane .item:hover .overContent{
    top: 40%;
}





/* blog */
#blog .blogHead .workTitle{
    font-weight: bold;
}
#blog .card{
    box-shadow: 2px 2px 30px 3px grey;
}
#blog .card .card-body{
    text-align: left;
}
#blog .card .card-body .btn{
    color: #e65f78;
    background: none;
    border: none;
    padding-left: 0;
}
#blog .card .card-body .byKerri a{
    color: #e65f78;
    text-decoration: none;
    font-weight: bold;
}

#blog iframe{
    height: 258px;
    width: 100%;
}





/* contact */
#scrollspycontact .contactHead .contactTitle{
    font-weight: bold;

}
#scrollspycontact .contactCard i{
    font-size: 40px;
    color: #e65f78;
}
#scrollspycontact .contactLast .bo{
    direction: rtl;

}
#scrollspycontact .contactLast .bo .btn{
    background-color: #e65f78;
    color: #eee;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    border: none;
}